* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f1f8ff;
}

.header {
    width: 100%;
    background: linear-gradient(#92c6ff, #68acf4);
    display: flex;
    align-items: center;
    padding: 5px 20px;
    height: 65px;

    .logo {
        display: flex;
        align-items: center;

        .logo-img {
            height: 55px;
        }
    
        .logo-text-img {
            height: 40px;
        }
    }

    .login-btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #68acf4;
        background: #2b527c;
        height: 35px;
        padding: 0 15px;
        border-radius: 3px;
        margin-left: auto;
    }
}

.main-container {
    max-width: 1200px;
    width: 100%;
    height: calc(100vh - 65px);
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 10px;

    .small-container {
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        box-shadow: -2px 8px 19px -4px rgba(0,0,0,0.16);
    }

    .main-container-left {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .video-player-container {
            width: 100%;
            max-height: 296px;
            min-height: 296px;
            height: 100%;
            
            #video-player {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .translated-caption-container {
            padding: 0 20px;
            background-color: #fff;
            min-height: 60px;
            display: flex;
            align-items: center;
        }
        
        .original-caption-container {
            flex-grow: 1;
            background-color: #fff;

            .original-caption-inner {
                height: 100%;
                padding: 20px;
                overflow-y: auto;
                line-height: 30px;
            }
        }
    }

    .main-container-right {
        width: 55%;
        height: 100%;
        flex-grow: 1;
        

        .tabs-container {
            display: flex;
            flex-direction: column;

            .tabs-top {
                .tab-btn {
                    padding: 15px 25px;
                    color: #0074db;
                    background-color: #e9f2fa;
                    margin-right: 10px;
                    font-size: 12px;
                    font-weight: 800;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                .tab-btn:hover {
                    color: #000;
                }

                .active-tab-btn {
                    background-color: #fff;
                }
            }

            .tabs-content {
                flex-grow: 1;
                min-height: 200px;
                height: 100%;
                border-top-left-radius: 0;

                .video-tab-container {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;

                    button {
                        width: 40px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #6fa9eb;
                        border-radius: 3px;
                        background: none;
                        outline: none;
                        cursor: pointer;

                        svg, svg g {
                            width: 13px;
                            height: 13px;
                            fill: #6fa9eb;
                        }

                        &:hover {
                            background: #6fa9eb; 
                        }

                        &:hover svg g{
                            fill: #fff; 
                        }
                    }
                    
                    .video-title {
                        width: 100%;
                        padding: 20px;
                        border-bottom: 1px solid #e2e2e2;
                        font-size: 15px;
                    }
                    
                    .video-info {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
                        border-bottom: 1px solid #e2e2e2;
                    }
                    
                    .video-current-status {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 30px 20px;
                        border-bottom: 1px solid #e2e2e2;

                        h2 {
                            font-weight: 300;
                            text-transform: capitalize;
                        }

                    }

                    .video-time-speed {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 30px 20px;

                        h2 {
                            font-weight: 300;
                        }
                        
                        .video-time {
                            display: flex;

                            .video-duration {
                                color: #a7a7a7;
                            }
                        }

                        .video-speed {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 20px;

                            .speed-controls {
                                display: flex;
                                align-items: center;

                                .minus-btn {
                                    border-right: none;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                                .plus-btn {
                                    border-left: none;
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                }

                                .speed-percent {
                                    width: 70px;
                                    padding: 10px 0;
                                    color: #6fa9eb;
                                    border: 1px solid #6fa9eb;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    &:hover {
                                        background-color: #6fa9eb;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                }

                .lesson-tab-container {
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;

                    .lesson-tab-header {
                        width: 100%;
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .start-stop-btn {
                            button {
                                padding: 13px 20px;
                                font-size: 16px;
                                font-weight: 600;
                                border: none;
                                outline: none;
                                color: #155299;
                                background: #FEC086;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }

                        .lesson-tab-header-text {
                            font-size: 14px;
                            color: #666666;
                            font-weight: 200;
                        }
                    }

                    .lesson-tab-section {
                        padding: 0 10px;

                        .lesson-tab-section-title {
                            background-color: #eef6ff;
                            border-radius: 5px;
                            padding: 5px 15px;
                            color: #2b527c;
                        }

                        .lesson-tab-section-body {
                            padding: 20px 10px;

                            .question {
                                .question-title {
                                    font-size: 17px;
                                    font-weight: 700;
                                    color: #9D2F9D;
                                    margin-bottom: 10px;
                                }
                                .question-description {
                                    font-size: 17px;
                                    font-weight: 300;
                                    margin-bottom: 10px;
                                }

                                .question-info {
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 17px;
                                        margin-right: 5px;
                                    }
                                    span {
                                        font-size: 17px;
                                        font-weight: 700;
                                    }
                                }

                                .question-options-container {
                                    padding: 20px 0;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    .option {
                                        width: 100%;
                                        padding: 13px 20px;
                                        background-color: #f0f0f0;
                                        border: 1px solid #b1b1b1;
                                        border-radius: 5px;
                                        box-shadow: 7px 7px 23px -7px rgba(0,0,0,0.46);
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;

                                        img {
                                            width: 15px;
                                            margin-right: 8px;
                                        }
                                        span {
                                            font-weight: 300;
                                            font-size: 17px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }

                .original-caption-container {
                    border-radius: 0;
                    box-shadow: none;
                    height: 100%;
                    padding: 20px;
                    line-height: 30px;
                    overflow-y: auto;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .main-container {
        .main-container-right {
            .tabs-container {
                .tabs-content {
                    .lesson-tab-container {
                        .lesson-tab-header {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

@media (max-height: 450px) {
    .main-container {
        .main-container-left {
            .video-player-container {
                flex-shrink: 1;
                min-height: 150px;
            }
        }
    }
}

@media (max-width: 801px) {

    .main-container .main-container-right {
        .tabs-container {
            .tabs-top {
                .tab-btn {
                    padding: 15px 15px;
                }
            }
        }
    }
}

@media (max-width: 682px) {
    .header {
        display: none;
    }

    .main-container {
        flex-direction: column;
        height: 100vh;
        padding: 0;

        .main-container-left {
            width: 100%;

            .video-player-container {
                border-radius: 0;
                min-height: 215px;
                // height: auto;
            }

            .translated-caption-container {
                margin: 0 10px;
            }

        }
        .main-container-right {
            width: 100%;

            .tabs-container {
                margin: 0 10px;

                .tabs-content {
                    .video-tab-container {
                        .video-time-speed {
                            flex-direction: column;
                            gap: 20px;

                            .video-speed {
                                flex-direction: column;
                                gap: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

